<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.demo.board.repository.BoardMapper">
    <!-- 게시물 저장 -->
    <insert id="saveBoard" parameterType="org.example.demo.board.entity.BoardVO">
        INSERT INTO BOARD (
        BOARD_ID, TITLE, CONTENT, WRITER_ID, CREATED_AT, VIEW_COUNT
        )
        VALUES (
        BOARD_SEQ.NEXTVAL,
        #{title, jdbcType=VARCHAR},
        #{content, jdbcType=CLOB},
        #{writerId, jdbcType=VARCHAR},
        SYSDATE,
        0
        )
    </insert>

    <select id="findAll" resultType="org.example.demo.board.entity.BoardVO">
        SELECT
        b.BOARD_ID AS boardId,
        b.TITLE AS title,
        b.CONTENT AS content,
        b.CREATED_AT AS createdAt,
        b.VIEW_COUNT AS viewCount,
        u.NICKNAME AS writerId
        FROM BOARD b
        JOIN USER_INFO u ON b.WRITER_ID = u.ID
        ORDER BY b.BOARD_ID DESC
    </select>
</mapper>