html, body {
    height: 100%;
    margin: 0;
    padding-top : 80px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 전체 높이 기준 */
}

.content {
    flex: 1; /* 남는 영역을 차지 */
}
